
#ALGORÍTIMO DE CRIPTOGRAFIA JWT
ALGORITHM="HS256"
#CHAVE JWT

SECRET_KEY=minha_chave_super_segura

#URL DO BANCO DE DADOS, ATENTEN-SE PARA ESCOLHER E INSERIR UMA SENHA EM "SUA_SENHA_AQUI"
DATABASE_URL="postgresql://postgres:SUA_SENHA_AQUI@localhost:5432/resisus_db"



